In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
df = pd.read_csv('superhero_powers.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [3]:
df2 = pd.read_csv('superhero_info.csv')
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [4]:
## Splits the columns into 2 
df2['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [5]:
## save the 2 new columns into the dataframe
df2[['Hero','Publisher']] = df2['Hero|Publisher'].str.split('|',expand=True)
df2.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [6]:
## drop the original column 
df2 = df2.drop(columns=['Hero|Publisher'])
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [7]:
### Splits the heigh and weight to 2
## examining a single value from the measurements col
mes = df2.loc[0,"Measurements"]
print(type(mes))
mes

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [8]:
import json
json.loads(mes)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [9]:
mes = mes.replace("'",'"')
mes

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [10]:
## now we can use json.loads
fixed_mes = json.loads(mes)
print(type(fixed_mes))
fixed_mes

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [11]:
## use .str.replace to replace all single quotes
df2['Measurements'] = df2['Measurements'].str.replace("'",'"')
## Apply the json.loads to the full column
df2['Measurements'] = df2['Measurements'].apply(json.loads)
df2['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [12]:
## check a single value after transformation
test_mes= df2.loc[0, 'Measurements']
print(type(test_mes))
test_mes

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [13]:
# Unpack a column of dictionaries into separate columns
Hght_wght =df2['Measurements'].apply(pd.Series)
Hght_wght

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [14]:
# concat hgt_wght with original dataframe
df2 = pd.concat((df2, Hght_wght), axis = 1)
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [15]:
#Drop measurements
df2 = df2.drop(columns=['Measurements'])
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

In [16]:
#Make height ,weight columns numeric
## save the 2 new columns into the dataframe
df2[['height','cm']] = df2['Height'].str.split(' ',expand=True)
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight,height,cm
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,cm
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,cm

In [17]:
#Drop 
df2 = df2.drop(columns=['cm'])
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight,height
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0

In [18]:
## save the 2 new columns into the dataframe
df2[['weight','kg']] = df2['Weight'].str.split(' ',expand=True)
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight,height,weight,kg
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,441.0,kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,65.0,kg

In [19]:
#Drop 
df2 = df2.drop(columns=['kg'])
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight,height,weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg,191.0,65.0

In [20]:
#Drop measurements
df2 = df2.drop(columns=['Height','Weight'])
df2.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,height,weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publisher   463 non-null    object
 8   height      463 non-null    object
 9   weight      463 non-null    object
dtypes: object(10)
memory usage: 36.3+ KB

In [22]:
#Convert height and weight to Numeric
df2["height"] = df2["height"].astype(float)
df2["weight"] = df2["weight"].astype(float)

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publisher   463 non-null    object
 8   height      463 non-null    float64
 9   weight      463 non-null    float64
dtypes: float64(2), object(8)
memory usage: 36.3+ KB

In [24]:
#one-hot-encoded columns for every power that appears in the dataset
df.head(2)

  hero_names                                             Powers
0    3-D Man         Agility,Super Strength,Stamina,Super Speed
1     A-Bomb  Accelerated Healing,Durability,Longevity,Super...

In [25]:
## showing the lists are really strings
df.loc[2,'Powers']

'Agility,Accelerated Healing,Cold Resistance,Durability,Underwater breathing,Marksmanship,Weapons Master,Longevity,Intelligence,Super Strength,Telepathy,Stamina,Immortality,Reflexes,Enhanced Sight,Sub-Mariner'

In [26]:
df['Powers_split'] = df['Powers'].str.split(',')
df

,hero_names,Powers,Powers_split
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]"
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S..."
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance..."
3,Abin Sur,Lantern Power Ring,[Lantern Power Ring]
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...","[Accelerated Healing, Intelligence, Super Stre..."
...,...,...,...
662,Yellowjacket II,"Flight,Energy Blasts,Size Changing","[Flight, Energy Blasts, Size Changing]"
663,Ymir,"Cold Resistance,Durability,Longevity,Super Str...","[Cold Resistance, Durability, Longevity, Super..."
664,Yoda,"Agility,Stealth,Danger Sense,Marksmanship,Weap...","[Agility, Stealth, Danger Sense, Marksmanship,..."
665,Zatanna,"Cryokinesis,Telepathy,Magic,Fire Control,Proba...","[Cryokinesis, Telepathy, Magic, Fire Control, ..."
666,Zoom,"Super Speed,Intangibility,Time Travel,Time Man...","[Super Speed, Intangibility, Time Travel, Time..."

In [27]:
exploded_p = df.explode('Powers_split')
exploded_p

,hero_names,Powers,Powers_split
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Agility
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Super Strength
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Stamina
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Super Speed
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Accelerated Healing
...,...,...,...
665,Zatanna,"Cryokinesis,Telepathy,Magic,Fire Control,Proba...",Weather Control
666,Zoom,"Super Speed,Intangibility,Time Travel,Time Man...",Super Speed
666,Zoom,"Super Speed,Intangibility,Time Travel,Time Man...",Intangibility
666,Zoom,"Super Speed,Intangibility,Time Travel,Time Man...",Time Travel
666,Zoom,"Super Speed,Intangibility,Time Travel,Time Man...",Time Manipulation

In [28]:
#Now we will take the .unique values from this exploded column as
#our list of columns to create from our original non-exploded dataframe.

In [30]:
## saving the unique values from the exploded column
cols_to_make = exploded_p['Powers_split'].dropna().unique()
cols_to_make

array(['Agility', 'Super Strength', 'Stamina', 'Super Speed',
       'Accelerated Healing', 'Durability', 'Longevity', 'Camouflage',
       'Self-Sustenance', 'Cold Resistance', 'Underwater breathing',
       'Marksmanship', 'Weapons Master', 'Intelligence', 'Telepathy',
       'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner',
       'Lantern Power Ring', 'Invulnerability', 'Animation',
       'Super Breath', 'Dimensional Awareness', 'Flight', 'Size Changing',
       'Teleportation', 'Magic', 'Dimensional Travel',
       'Molecular Manipulation', 'Energy Manipulation', 'Power Cosmic',
       'Energy Absorption', 'Elemental Transmogrification',
       'Fire Resistance', 'Natural Armor', 'Heat Resistance',
       'Matter Absorption', 'Regeneration', 'Stealth', 'Power Suit',
       'Energy Blasts', 'Energy Beams', 'Heat Generation', 'Danger Sense',
       'Phasing', 'Force Fields', 'Hypnokinesis', 'Invisibility',
       'Enhanced Senses', 'Jump', 'Shapeshifting', 'Elasticity',
       'Substance Secretion', 'Enhanced Hearing', 'Adaptation', 'Gliding',
       'Natural Weapons', 'Wallcrawling', 'Vision - Thermal',
       'Power Augmentation', 'Cryokinesis', 'Duplication',
       'Weapon-based Powers', 'Fire Control', 'Enhanced Memory',
       'Energy Constructs', 'Power Absorption', 'Time Travel',
       'Enhanced Smell', 'Water Control', 'Vision - Telescopic',
       'Magnetism', 'Vision - Microscopic', 'Vision - Night',
       'Vision - Heat', 'Vision - X-Ray', 'Psionic Powers',
       'Toxin and Disease Resistance', 'Animal Attributes',
       'Animal Oriented Powers', 'Toxin and Disease Control', 'Empathy',
       'Animal Control', 'Darkforce Manipulation', 'Time Manipulation',
       'Reality Warping', 'Web Creation', 'Symbiote Costume',
       'Telekinesis', 'Levitation', 'Biokinesis', 'Sonar',
       'Enhanced Touch', 'Seismic Power', 'Energy Armor',
       'Omnilingualism', 'Radiation Immunity', 'Density Control',
       'Light Control', 'Illumination', 'Molecular Combustion',
       'Astral Travel', 'Precognition', 'Intangibility', 'Illusions',
       'Audio Control', 'Sonic Scream', 'Peak Human Condition',
       'Vision - Infrared', 'Dexterity', 'Omnitrix', 'Omnipotent',
       'Possession', 'Energy Resistance', 'Vision - Cryo', 'Mind Control',
       'Mind Blast', 'Clairvoyance', 'Probability Manipulation',
       'Death Touch', 'Electrokinesis', 'Gravity Control',
       'Technopath/Cyberpath', 'Radar Sense', 'Astral Projection',
       'Cloaking', 'Telepathy Resistance', 'Mind Control Resistance',
       'Hyperkinesis', 'Spatial Awareness', 'Radiation Control',
       'Radiation Absorption', 'Magic Resistance', 'Element Control',
       'Plant Control', 'Terrakinesis', 'Power Sense', 'Wind Control',
       'Qwardian Power Ring', 'Echolocation', 'Resurrection', 'The Force',
       'Summoning', 'Banish', 'Molecular Dissipation',
       'Electrical Transport', 'Speed Force', 'Grim Reaping',
       'Portal Creation', 'Vitakinesis', 'Projection', 'Insanity',
       'Photographic Reflexes', 'Anti-Gravity', 'Thirstokinesis',
       'Power Nullifier', 'Weather Control', 'Omnipresent', 'Omniscient',
       'Hair Manipulation', 'Nova Force', 'Odin Force', 'Phoenix Force',
       'Intuitive aptitude', 'Melting', 'Changing Armor'], dtype=object)

In [ ]:
#We now have a single list that includes ALL unique values,
#found anywhere in the lists within the original transaction column.

In [ ]:
#Now we want to create a new column for each of our unique values that are stored in cols_to_make.   
#And while we are at it,we want to indicate true and false depending on if the value was in the original list

In [31]:
for col in cols_to_make:
    df[col] = df['Powers'].str.contains(col)
df.head()

C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)
C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3409733854.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = df['Powers'].str.contains(col)

,hero_names,Powers,Powers_split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance...",True,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,Lantern Power Ring,[Lantern Power Ring],False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...","[Accelerated Healing, Intelligence, Super Stre...",False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
#And now we have our new transaction columns!
#Let's drop the original transactions column and our Powers_split column now that we have confirmed our new columns
df = df.drop(columns=['Powers','Powers_split'])

In [35]:
## get the unique ids
unique_ids = sorted(df['hero_names'].unique())
unique_ids[:7]

['3-D Man',
 'A-Bomb',
 'Abe Sapien',
 'Abin Sur',
 'Abomination',
 'Abraxas',
 'Absorbing Man']

In [36]:
## make integers for each id
int_ids = range(len(unique_ids))
int_ids

range(0, 667)

In [37]:
## Converting our range to a list and showing the first 10 values
example_range = list(int_ids)
example_range[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
id_map = dict(zip(unique_ids,int_ids))
id_map

{'3-D Man': 0,
 'A-Bomb': 1,
 'Abe Sapien': 2,
 'Abin Sur': 3,
 'Abomination': 4,
 'Abraxas': 5,
 'Absorbing Man': 6,
 'Adam Monroe': 7,
 'Adam Strange': 8,
 'Agent Bob': 9,
 'Agent Zero': 10,
 'Air-Walker': 11,
 'Ajax': 12,
 'Alan Scott': 13,
 'Alex Mercer': 14,
 'Alex Woolsly': 15,
 'Alien': 16,
 'Allan Quatermain': 17,
 'Amazo': 18,
 'Ammo': 19,
 'Ando Masahashi': 20,
 'Angel': 21,
 'Angel Dust': 22,
 'Angel Salvadore': 23,
 'Angela': 24,
 'Animal Man': 25,
 'Annihilus': 26,
 'Ant-Man': 27,
 'Ant-Man II': 28,
 'Anti-Monitor': 29,
 'Anti-Spawn': 30,
 'Anti-Venom': 31,
 'Apocalypse': 32,
 'Aquababy': 33,
 'Aqualad': 34,
 'Aquaman': 35,
 'Arachne': 36,
 'Archangel': 37,
 'Arclight': 38,
 'Ardina': 39,
 'Ares': 40,
 'Ariel': 41,
 'Armor': 42,
 'Astro Boy': 43,
 'Atlas': 44,
 'Atom': 45,
 'Atom Girl': 46,
 'Atom II': 47,
 'Atom III': 48,
 'Atom IV': 49,
 'Aurora': 50,
 'Azazel': 51,
 'Azrael': 52,
 'Aztar': 53,
 'Bananaman': 54,
 'Bane': 55,
 'Banshee': 56,
 'Bantam': 57,
 'Batgirl': 58,
 'Batgirl IV': 59,
 'Batgirl VI': 60,
 'Batman': 61,
 'Batman II': 62,
 'Battlestar': 63,
 'Batwoman V': 64,
 'Beak': 65,
 'Beast': 66,
 'Beast Boy': 67,
 'Ben 10': 68,
 'Beta Ray Bill': 69,
 'Beyonder': 70,
 'Big Barda': 71,
 'Big Daddy': 72,
 'Big Man': 73,
 'Bill Harken': 74,
 'Billy Kincaid': 75,
 'Binary': 76,
 'Bionic Woman': 77,
 'Bird-Brain': 78,
 'Bird-Man': 79,
 'Bird-Man II': 80,
 'Birdman': 81,
 'Bishop': 82,
 'Bizarro': 83,
 'Bizarro-Girl': 84,
 'Black Abbott': 85,
 'Black Adam': 86,
 'Black Bolt': 87,
 'Black Canary': 88,
 'Black Cat': 89,
 'Black Flash': 90,
 'Black Knight III': 91,
 'Black Lightning': 92,
 'Black Mamba': 93,
 'Black Manta': 94,
 'Black Panther': 95,
 'Black Vulcan': 96,
 'Black Widow': 97,
 'Blackout': 98,
 'Blackwing': 99,
 'Blackwulf': 100,
 'Blade': 101,
 'Bling!': 102,
 'Blink': 103,
 'Blizzard': 104,
 'Blizzard II': 105,
 'Blob': 106,
 'Bloodaxe': 107,
 'Bloodhawk': 108,
 'Bloodwraith': 109,
 'Blue Beetle': 110,
 'Blue Beetle II': 111,
 'Blue Beetle III': 112,
 'Blue Streak': 113,
 'Boba Fett': 114,
 'Bomb Queen': 115,
 'Boom-Boom': 116,
 'Booster Gold': 117,
 'Box IV': 118,
 'Bradley': 119,
 'Brainiac': 120,
 'Brainiac 5': 121,
 'Brother Voodoo': 122,
 'Brundlefly': 123,
 'Buffy': 124,
 'Bullseye': 125,
 'Bumblebee': 126,
 'Bumbleboy': 127,
 'Bushido': 128,
 'Cable': 129,
 'Callisto': 130,
 'Cameron Hicks': 131,
 'Cannonball': 132,
 'Captain America': 133,
 'Captain Atom': 134,
 'Captain Britain': 135,
 'Captain Cold': 136,
 'Captain Epic': 137,
 'Captain Hindsight': 138,
 'Captain Marvel': 139,
 'Captain Marvel II': 140,
 'Captain Midnight': 141,
 'Captain Planet': 142,
 'Captain Universe': 143,
 'Carnage': 144,
 'Cat': 145,
 'Catwoman': 146,
 'Century': 147,
 'Cerebra': 148,
 'Chamber': 149,
 'Chameleon': 150,
 'Changeling': 151,
 'Cheetah': 152,
 'Cheetah II': 153,
 'Cheetah III': 154,
 'Chromos': 155,
 'Chuck Norris': 156,
 'Citizen Steel': 157,
 'Claire Bennet': 158,
 'Clayface': 159,
 'Cloak': 160,
 'Cogliostro': 161,
 'Colossus': 162,
 'Concrete': 163,
 'Copycat': 164,
 'Cottonmouth': 165,
 'Crimson Crusader': 166,
 'Crimson Dynamo': 167,
 'Crystal': 168,
 'Curse': 169,
 'Cy-Gor': 170,
 'Cyborg': 171,
 'Cyborg Superman': 172,
 'Cyclops': 173,
 'DL Hawkins': 174,
 'Dagger': 175,
 'Daphne Powell': 176,
 'Daredevil': 177,
 'Darkhawk': 178,
 'Darkman': 179,
 'Darkseid': 180,
 'Darkstar': 181,
 'Darth Maul': 182,
 'Darth Vader': 183,
 'Dash': 184,
 'Data': 185,
 'Dazzler': 186,
 'Deadman': 187,
 'Deadpool': 188,
 'Deadshot': 189,
 'Deathlok': 190,
 'Deathstroke': 191,
 'Dementor': 192,
 'Demogoblin': 193,
 'Destroyer': 194,
 'Diamondback': 195,
 'Doc Samson': 196,
 'Doctor Doom': 197,
 'Doctor Doom II': 198,
 'Doctor Fate': 199,
 'Doctor Octopus': 200,
 'Doctor Poison': 201,
 'Doctor Strange': 202,
 'Domino': 203,
 'Donatello': 204,
 'Donna Troy': 205,
 'Doomsday': 206,
 'Doppelganger': 207,
 'Dormammu': 208,
 'Dr Manhattan': 209,
 'Drax the Destroyer': 210,
 'Ego': 211,
 'Elastigirl': 212,
 'Electro': 213,
 'Elektra': 214,
 'Elle Bishop': 215,
 'Elongated Man': 216,
 'Emma Frost': 217,
 'Enchantress': 218,
 'Energy': 219,
 'Ethan Hunt': 220,
 'Etrigan': 221,
 'Evil Deadpool': 222,
 'Evilhawk': 223,
 'Exodus': 224,
 'Fabian Cortez': 225,
 'Falcon': 226,
 'Fallen One II': 227,
 'Faora': 228,
 'Feral': 229,
 'Fighting Spirit': 230,
 'Fin Fang Foom': 231,
 'Fire': 232,
 'Firebird': 233,
 'Firelord': 234,
 'Firestar': 235,
 'Firestorm': 236,
 'Flash': 237,
 'Flash Gordon': 238,
 'Flash II': 239,
 'Flash III': 240,
 'Flash IV': 241,
 'Forge': 242,
 'Franklin Richards': 243,
 'Frenzy': 244,
 'Frigga': 245,
 'Galactus': 246,
 'Gambit': 247,
 'Gamora': 248,
 'Garbage Man': 249,
 'Gary Bell': 250,
 'General Zod': 251,
 'Genesis': 252,
 'Ghost Rider': 253,
 'Ghost Rider II': 254,
 'Giganta': 255,
 'Gladiator': 256,
 'Goblin Queen': 257,
 'Godzilla': 258,
 'Gog': 259,
 'Goku': 260,
 'Goliath IV': 261,
 'Gorilla Grodd': 262,
 'Granny Goodness': 263,
 'Gravity': 264,
 'Greedo': 265,
 'Green Arrow': 266,
 'Green Goblin': 267,
 'Green Goblin II': 268,
 'Green Goblin III': 269,
 'Green Goblin IV': 270,
 'Groot': 271,
 'Guy Gardner': 272,
 'Hal Jordan': 273,
 'Han Solo': 274,
 'Hancock': 275,
 'Harley Quinn': 276,
 'Harry Potter': 277,
 'Havok': 278,
 'Hawk': 279,
 'Hawkeye': 280,
 'Hawkeye II': 281,
 'Hawkgirl': 282,
 'Hawkman': 283,
 'Heat Wave': 284,
 'Hela': 285,
 'Hellboy': 286,
 'Hellcat': 287,
 'Hellgramite': 288,
 'Hellstorm': 289,
 'Hercules': 290,
 'Hiro Nakamura': 291,
 'Hit-Girl': 292,
 'Hobgoblin': 293,
 'Hollow': 294,
 'Hope Summers': 295,
 'Hulk': 296,
 'Human Torch': 297,
 'Huntress': 298,
 'Husk': 299,
 'Hybrid': 300,
 'Hydro-Man': 301,
 'Hyperion': 302,
 'Iceman': 303,
 'Impulse': 304,
 'Indiana Jones': 305,
 'Indigo': 306,
 'Ink': 307,
 'Invisible Woman': 308,
 'Iron Fist': 309,
 'Iron Man': 310,
 'Iron Monger': 311,
 'Isis': 312,
 'JJ Powell': 313,
 'Jack of Hearts': 314,
 'Jack-Jack': 315,
 'James Bond': 316,
 'James T. Kirk': 317,
 'Jar Jar Binks': 318,
 'Jason Bourne': 319,
 'Jean Grey': 320,
 'Jean-Luc Picard': 321,
 'Jennifer Kale': 322,
 'Jessica Cruz': 323,
 'Jessica Jones': 324,
 'Jim Powell': 325,
 'Johann Krauss': 326,
 'John Constantine': 327,
 'John Stewart': 328,
 'John Wraith': 329,
 'Joker': 330,
 'Jolt': 331,
 'Jubilee': 332,
 'Judge Dredd': 333,
 'Juggernaut': 334,
 'Junkpile': 335,
 'Justice': 336,
 'K-2SO': 337,
 'Kang': 338,
 'Karate Kid': 339,
 'Kathryn Janeway': 340,
 'Katniss Everdeen': 341,
 'Kevin 11': 342,
 'Kick-Ass': 343,
 'Kid Flash': 344,
 'Killer Croc': 345,
 'Killer Frost': 346,
 'Kilowog': 347,
 'King Kong': 348,
 'King Shark': 349,
 'Klaw': 350,
 'Kool-Aid Man': 351,
 'Kraven II': 352,
 'Kraven the Hunter': 353,
 'Krypto': 354,
 'Kyle Rayner': 355,
 'Kylo Ren': 356,
 'Lady Bullseye': 357,
 'Lady Deathstrike': 358,
 'Lara Croft': 359,
 'Leader': 360,
 'Leech': 361,
 'Legion': 362,
 'Leonardo': 363,
 'Lex Luthor': 364,
 'Light Lass': 365,
 'Lightning Lad': 366,
 'Lightning Lord': 367,
 'Little Epic': 368,
 'Living Brain': 369,
 'Living Tribunal': 370,
 'Liz Sherman': 371,
 'Lizard': 372,
 'Lobo': 373,
 'Loki': 374,
 'Longshot': 375,
 'Lord Voldemort': 376,
 'Luke Cage': 377,
 'Luke Campbell': 378,
 'Luke Skywalker': 379,
 'Luna': 380,
 'Lyja': 381,
 'MODOK': 382,
 'Mach-IV': 383,
 'Machine Man': 384,
 'Magneto': 385,
 'Magog': 386,
 'Magus': 387,
 'Man of Miracles': 388,
 'Man-Bat': 389,
 'Man-Thing': 390,
 'Man-Wolf': 391,
 'Mandarin': 392,
 'Mantis': 393,
 'Martian Manhunter': 394,
 'Marvel Girl': 395,
 'Master Brood': 396,
 'Master Chief': 397,
 'Match': 398,
 'Matt Parkman': 399,
 'Maverick': 400,
 'Maxima': 401,
 'Maya Herrera': 402,
 'Medusa': 403,
 'Meltdown': 404,
 'Mephisto': 405,
 'Mera': 406,
 'Metallo': 407,
 'Metamorpho': 408,
 'Metron': 409,
 'Micah Sanders': 410,
 'Michelangelo': 411,
 'Micro Lad': 412,
 'Mimic': 413,
 'Minna Murray': 414,
 'Misfit': 415,
 'Miss Martian': 416,
 'Mister Fantastic': 417,
 'Mister Freeze': 418,
 'Mister Knife': 419,
 'Mister Mxyzptlk': 420,
 'Mister Sinister': 421,
 'Mockingbird': 422,
 'Mohinder Suresh': 423,
 'Molten Man': 424,
 'Monarch': 425,
 'Monica Dawson': 426,
 'Moon Knight': 427,
 'Moonstone': 428,
 'Morlun': 429,
 'Moses Magnum': 430,
 'Mr Immortal': 431,
 'Mr Incredible': 432,
 'Ms Marvel II': 433,
 'Multiple Man': 434,
 'Mysterio': 435,
 'Mystique': 436,
 'Namor': 437,
 'Namora': 438,
 'Namorita': 439,
 'Naruto Uzumaki': 440,
 'Nathan Petrelli': 441,
 'Nebula': 442,
 'Negasonic Teenage Warhead': 443,
 'Nick Fury': 444,
 'Nightcrawler': 445,
 'Nightwing': 446,
 'Niki Sanders': 447,
 'Nina Theroux': 448,
 'Northstar': 449,
 'Nova': 450,
 'Odin': 451,
 'Offspring': 452,
 'Omniscient': 453,
 'One Punch Man': 454,
 'One-Above-All': 455,
 'Onslaught': 456,
 'Oracle': 457,
 'Orion': 458,
 'Osiris': 459,
 'Overtkill': 460,
 'Ozymandias': 461,
 'Parademon': 462,
 'Peek-a-Boo': 463,
 'Penance II': 464,
 'Penguin': 465,
 'Peter Petrelli': 466,
 'Phantom': 467,
 'Phantom Girl': 468,
 'Phoenix': 469,
 'Plantman': 470,
 'Plastic Man': 471,
 'Plastique': 472,
 'Poison Ivy': 473,
 'Polaris': 474,
 'Power Girl': 475,
 'Predator': 476,
 'Professor X': 477,
 'Professor Zoom': 478,
 'Proto-Goblin': 479,
 'Psylocke': 480,
 'Punisher': 481,
 'Purple Man': 482,
 'Pyro': 483,
 'Q': 484,
 'Quantum': 485,
 'Queen Hippolyta': 486,
 'Question': 487,
 'Quicksilver': 488,
 'Quill': 489,
 "Ra's Al Ghul": 490,
 'Rachel Pirzad': 491,
 'Rambo': 492,
 'Raphael': 493,
 'Raven': 494,
 'Ray': 495,
 'Razor-Fist II': 496,
 'Reactron': 497,
 'Red Arrow': 498,
 'Red Hood': 499,
 'Red Hulk': 500,
 'Red Mist': 501,
 'Red Robin': 502,
 'Red Skull': 503,
 'Red Tornado': 504,
 'Redeemer II': 505,
 'Redeemer III': 506,
 'Rey': 507,
 'Rhino': 508,
 'Rick Flag': 509,
 'Riddler': 510,
 'Rip Hunter': 511,
 'Ripcord': 512,
 'Robin': 513,
 'Robin II': 514,
 'Robin III': 515,
 'Robin V': 516,
 'Robin VI': 517,
 'Rocket Raccoon': 518,
 'Rogue': 519,
 'Rorschach': 520,
 'SHDB': 521,
 'Sabretooth': 522,
 'Sage': 523,
 'Sandman': 524,
 'Sasquatch': 525,
 'Sauron': 526,
 'Savage Dragon': 527,
 'Scarecrow': 528,
 'Scarlet Spider': 529,
 'Scarlet Spider II': 530,
 'Scarlet Witch': 531,
 'Scorpia': 532,
 'Scorpion': 533,
 'Sebastian Shaw': 534,
 'Sentry': 535,
 'Shadow King': 536,
 'Shadow Lass': 537,
 'Shadowcat': 538,
 'Shang-Chi': 539,
 'Shatterstar': 540,
 'She-Hulk': 541,
 'She-Thing': 542,
 'Shocker': 543,
 'Shriek': 544,
 'Sif': 545,
 'Silk': 546,
 'Silk Spectre': 547,
 'Silk Spectre II': 548,
 'Silver Surfer': 549,
 'Silverclaw': 550,
 'Simon Baz': 551,
 'Sinestro': 552,
 'Siren': 553,
 'Siren II': 554,
 'Siryn': 555,
 'Skaar': 556,
 'Snowbird': 557,
 'Sobek': 558,
 'Solomon Grundy': 559,
 'Songbird': 560,
 'Space Ghost': 561,
 'Spawn': 562,
 'Spectre': 563,
 'Speedball': 564,
 'Speedy': 565,
 'Spider-Girl': 566,
 'Spider-Gwen': 567,
 'Spider-Man': 568,
 'Spider-Woman': 569,
 'Spider-Woman III': 570,
 'Spider-Woman IV': 571,
 'Spock': 572,
 'Spyke': 573,
 'Star-Lord': 574,
 'Stardust': 575,
 'Starfire': 576,
 'Stargirl': 577,
 'Static': 578,
 'Steel': 579,
 'Stephanie Powell': 580,
 'Steppenwolf': 581,
 'Storm': 582,
 'Stormtrooper': 583,
 'Stretch Armstrong': 584,
 'Sunspot': 585,
 'Superboy': 586,
 'Superboy-Prime': 587,
 'Supergirl': 588,
 'Superman': 589,
 'Swamp Thing': 590,
 'Swarm': 591,
 'Sylar': 592,
 'Synch': 593,
 'T-1000': 594,
 'T-800': 595,
 'T-850': 596,
 'T-X': 597,
 'TEST': 598,
 'Taskmaster': 599,
 'Tempest': 600,
 'Thanos': 601,
 'The Cape': 602,
 'The Comedian': 603,
 'Thing': 604,
 'Thor': 605,
 'Thor Girl': 606,
 'Thunderbird': 607,
 'Thunderbird III': 608,
 'Thunderstrike': 609,
 'Thundra': 610,
 'Tiger Shark': 611,
 'Tigra': 612,
 'Tinkerer': 613,
 'Titan': 614,
 'Toad': 615,
 'Tommy Clarke': 616,
 'Toxin': 617,
 'Tracy Strauss': 618,
 'Trickster': 619,
 'Trigon': 620,
 'Triplicate Girl': 621,
 'Triton': 622,
 'Tyrant': 623,
 'Ultragirl': 624,
 'Ultron': 625,
 'Utgard-Loki': 626,
 'Valerie Hart': 627,
 'Valkyrie': 628,
 'Vanisher': 629,
 'Vegeta': 630,
 'Venom': 631,
 'Venom II': 632,
 'Venom III': 633,
 'Venompool': 634,
 'Vertigo II': 635,
 'Vibe': 636,
 'Vindicator': 637,
 'Violator': 638,
 'Violet Parr': 639,
 'Vision': 640,
 'Vixen': 641,
 'Vulture': 642,
 'Walrus': 643,
 'War Machine': 644,
 'Warlock': 645,
 'Warp': 646,
 'Warpath': 647,
 'Wasp': 648,
 'Watcher': 649,
 'Weapon XI': 650,
 'White Canary': 651,
 'Wildfire': 652,
 'Winter Soldier': 653,
 'Wolfsbane': 654,
 'Wolverine': 655,
 'Wonder Girl': 656,
 'Wonder Man': 657,
 'Wonder Woman': 658,
 'X-23': 659,
 'X-Man': 660,
 'Yellowjacket': 661,
 'Yellowjacket II': 662,
 'Ymir': 663,
 'Yoda': 664,
 'Zatanna': 665,
 'Zoom': 666}

In [39]:
df['hero_names'].map(id_map)

0        0
1        1
2        2
3        3
4        4
      ...
662    662
663    663
664    664
665    665
666    666
Name: hero_names, Length: 667, dtype: int64

In [40]:
## overwriting the original id column 
df2['Hero'] = df2['Hero'].replace(id_map)
df2.head(3)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,height,weight
0,Male,Human,good,No Hair,yellow,Unknown,1,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,2,Dark Horse Comics,191.0,65.0
2,Male,Ungaran,good,No Hair,blue,red,3,DC Comics,185.0,90.0

In [41]:
## Having an extra column 
df['hero_names_id'] = df['hero_names'].replace(id_map)
df.head(3)

C:\Users\siblose\AppData\Local\Temp\ipykernel_27564\3477881882.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['hero_names_id'] = df['hero_names'].replace(id_map)

,hero_names,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,Camouflage,Self-Sustenance,...,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor,hero_names_id
0,3-D Man,True,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
1,A-Bomb,False,True,True,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,1
2,Abe Sapien,True,True,True,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,2

In [42]:
# Using pd.DataFrame and a dictionary
id_lookup = pd.DataFrame({'str_id': id_map.keys(),
                         'int_id':id_map.values()})
id_lookup.head(3)

       str_id  int_id
0     3-D Man       0
1      A-Bomb       1
2  Abe Sapien       2

In [43]:
## Merging with the same column name
pd.merge(df,df2, left_on='hero_names_id', right_on='Hero')

,hero_names,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,Camouflage,Self-Sustenance,...,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,height,weight
0,A-Bomb,False,True,True,False,True,True,True,True,True,...,Male,Human,good,No Hair,yellow,Unknown,1,Marvel Comics,203.0,441.0
1,Abe Sapien,True,True,True,False,True,True,True,False,False,...,Male,Icthyo Sapien,good,No Hair,blue,blue,2,Dark Horse Comics,191.0,65.0
2,Abin Sur,False,False,False,False,False,False,False,False,False,...,Male,Ungaran,good,No Hair,blue,red,3,DC Comics,185.0,90.0
3,Abomination,False,True,True,True,True,False,False,False,False,...,Male,Human / Radiation,bad,No Hair,green,Unknown,4,Marvel Comics,203.0,441.0
4,Absorbing Man,False,True,False,False,False,True,False,False,False,...,Male,Human,bad,No Hair,blue,Unknown,6,Marvel Comics,193.0,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,Yellowjacket,False,False,False,False,False,False,False,False,False,...,Male,Human,good,Blond,blue,Unknown,661,Marvel Comics,183.0,83.0
459,Yellowjacket II,False,False,False,False,False,False,False,False,False,...,Female,Human,good,Strawberry Blond,blue,Unknown,662,Marvel Comics,165.0,52.0
460,Yoda,True,False,True,True,False,False,True,False,False,...,Male,Yoda's species,good,White,brown,green,664,George Lucas,66.0,17.0
461,Zatanna,False,False,False,False,False,False,False,False,False,...,Female,Human,good,Black,blue,Unknown,665,DC Comics,170.0,57.0
462,Zoom,False,False,False,True,False,False,False,False,False,...,Male,Unknown,bad,Brown,red,Unknown,666,DC Comics,185.0,81.0

In [44]:
## Merging with the same column name
rslt_df = pd.merge(df,df2, left_on='hero_names_id', right_on='Hero')

In [45]:
#Delete from hero_names_id from the combined , becuase we already have heros
rslt_df = rslt_df.drop(columns='hero_names_id')
rslt_df.head(2)

,hero_names,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,Camouflage,Self-Sustenance,...,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,height,weight
0,A-Bomb,False,True,True,False,True,True,True,True,True,...,Male,Human,good,No Hair,yellow,Unknown,1,Marvel Comics,203.0,441.0
1,Abe Sapien,True,True,True,False,True,True,True,False,False,...,Male,Icthyo Sapien,good,No Hair,blue,blue,2,Dark Horse Comics,191.0,65.0

In [51]:
#Compare the average weight of super powers who have Super Speed to those who do not.
groupedSpeed = rslt_df.groupby('Super Speed')
groupedSpeed['weight'].mean()

Super Speed
False    101.773585
True     129.404040
Name: weight, dtype: float64

In [52]:
#What is the average height of heroes for each publisher?
grouped = rslt_df.groupby('Publisher')
grouped['height'].mean()

Publisher
DC Comics            181.923913
Dark Horse Comics    176.909091
George Lucas         159.600000
Image Comics         211.000000
Marvel Comics        191.546128
Shueisha             171.500000
Star Trek            181.500000
Team Epic TV         180.750000
Unknown              178.000000
Name: height, dtype: float64